<form>
 
  <div class="container">
    <h2><%= label_tag(:q, "What Do iHave? | Select your Ingredients") %></h2>

      <select name="ingredients[]" multiple >
      <% @ingredients.each do |i| %>
        <option value="<%= i.id %>">
        <%= i.ingredient_name %>
        </option>
      <%end%>
    </select>
    
    <button type="submit">Choose Ingredients</button>
  </div>

</form>

<form class="recipe-search-form">

  <div class="chosen_ingredients">
    <h2>Chosen Ingredients</h2>
    <ul>
      <% if @results %>
        <% @results.each do |r| %>
          <li class="search_term" data-id="<%@result_id%>"><%= r %></li>
        <%end%>
      <%end%>
    </ul>

    <button class="search_recipes">Search for Recipes</button>

  </div>

</form>

<div class="recipes">
  
  <!-- ajax api results goes here -->


</div>