<%= form_tag("/search", method: "get") do %>
 
<div class="container">
  <h2><%= label_tag(:q, "What Do iHave? | Select your Ingredients") %></h2>

    <select>
    <% @ingredients.each do |i| %>
      <option>
      <%= i.ingredient_name %>
      </option>
    <%end%>
  </select>
  
  <%= submit_tag("Search for Recipes") %>

</div>

<% end %>