* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body{
  height: 100%;
  background-image: url(/assets/nice_snow.png);
  font-family: 'Source Serif Pro', serif;
  a{
    text-decoration: none;
  }
}

h1{
  text-align: center;
  padding-top: 20px;
}

.about{
  width: 75%;
  margin: 0 auto;
  h2{
    text-align: center;
  }
}

.how{
    width: 65%;
    margin: 0 auto;
    h3{
      text-align: center;
    }
  }

.sources{
  margin: 0 auto;
  padding-left: 16.25em;
}

.notice,
.alert{
  text-align: center;
}

.box{
  border:none;
  width:1000px;
  height: 100%;
  // margin:auto;
  position:relative;
  text-align:center;
}

.container{
  width: 100%;
}

.chosen_ingredients{
  float: right;
  margin-top: 20px;
  width: 350px;
  margin-left: 8px;
  h2{
    padding-left: 18px;
  }
}

.chosen{
  visibility: hidden;
}

header{
  width: 75%;
  margin: 0 auto;
  .title-header{
    display: inline-block;
  }
}

form{
  width: 75%;
  margin: 0 auto;
}

.recipes{
  height: 2000px;
  width: 75%;
  margin: 0 auto;
  padding-top: 2em;
  h2{
    text-align: center;
  }
}

.result{
  display: inline-block;
  margin: 0 2em;
  img{
    margin: 0 auto;
  }
}

.result:hover{
    border: 3px solid #9FDD98;
    border-radius: .5em;
    background-color: #5BC8AD;
  }

.show-recipe{
  list-style-type: none;
}

.rating{
  margin-top: 0px;
}

.fridge{
  position: relative;
  .inner_fridge{
    background-image: url(/assets/pan.png);
    position: absolute;
    width: 600px;
    height: 292px;
    padding: 20px;
    top: 50%;
    left: 58%;
    margin: 20px 0 0 -300px;
    color: silver;
    h2{
      margin-left: 50px;
      padding-top: 35px;
      margin-bottom: 2px;
      color: silver;
    }
    .field-top, .field-bottom{
      margin-left: 50px;
    }
    .field-bottom{
      margin-top: 10px;
    }
    .remember{
      margin-left: 45px;
    }
    .form1{
      left: 0px;
      margin-left: -190px;
    }
  }
}

.ihave{
  // width: 600px;
  text-align: center;
  // padding-left: 25%;
  button{
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    padding: 3px;
    width: 10em;
    height: 2em; 
    border-radius: 20px;
  }
}

.devise-links{
  div{
    margin-left: 50px;
  }
  .signup{
    margin-left: 40px;
  }
}

.pan_plus_flame{
  height: 400px;
  margin: 0 auto;
}

.user-form{
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="first_name"],
  input[type="last_name"]{
    text-align: center;
    border-radius: 5px;
  }
  label{
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  input[type="submit"]{
    margin-left: 80px;
    border-radius: 50px;
    padding: 3px;
    margin-top: 5px;
    width: 60px;
    height: 20px;    
  }
}

select{
  height: 350px;
}