@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body{
  background-image: url(/assets/nice_snow.png);
  font-family: 'Source Serif Pro', serif;
  a{
    text-decoration: none;
  }
}

h1{
  text-align: center;
  padding-top: 20px;
}

nav{
  background-image: url(/assets/retina_wood.png);
  width: 100%;
  height: 50px;
  li{
    border: 3px solid #2B1A0B;
    border-style: outset;
  }
}

.container{
  width: 60%;
  margin: 35px;
}

header{
  width: 75%;
  margin: 0 auto;
  // border-bottom: 2px solid #321B11;
  .title-header{
    display: block;
  }
  ul{
    display: inline-block;
    width: 100%;
    li{
      display: inline-block;
      width: 20%;
      height: 25px;
    }
  }
}

form{
  width: 75%;
  margin: 0 auto;
}

.options{
  ul{
    width: 100%;
  }
}

main{
  margin: 20px 0;
  padding: 10px;
}

.fridge{
  position: relative;
  // margin: 30px auto;
  // padding: 20px;
  // //hsla = hue saturation lightness alpha (transparency)
  // border-radius: 100%;
  // background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
  //   -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
  //   -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
  //   -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    
  //   -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),
  //   -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),
  //   -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%),
    
  //   -webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
  //   border: 2px groove black;
  //   height: 400px;
  //   width: 400px;
  .inner_fridge{
    background-image: url(/assets/pan.png);
    position: absolute;
    width: 600px;
    height: 292px;
  //   padding: 20px;
  //   top: 50%;
  //   left: 50%;
  //   margin: -210px 0 0 -100px;
  // }
}

