* {box-sizing: border-box;}

.wrap {
  border-radius: 4px;
  margin: 30px auto ;
  width: 600px;
  padding: 50px 0;
  background-image: url(assets/images/retina_wood.png);
}

.drawers {
  text-align: center;
  margin: 0;
  padding: 0;
}

.drawers li {
  display: inline-block;
  width: 100px;
  height: 45px;
  margin: 6px 12px 6px 0;
  position: relative;
  z-index: 0;
}

.drawer {
  // background-image: linear-gradient(#f9ebb7 3%, #e4c695 4%, #d6a867);
  background-image: url(assets/images/retina_wood.png);
  width: 100px;
  height: 45px;
  transition: .5s ease-out all;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #6c4116;
}

.handle {
  background-image: linear-gradient(top, #efefef 35%, #454545 38%, #2c2c2c 75%, #efefef 80%);
  background-image: linear-gradient(to bottom, #efefef 35%, #454545 38%, #2c2c2c 75%, #efefef 80%);
  border: 1px solid #a3682e;
  border-radius: 6px;
  box-shadow: 0 2px 4px -2px #000;
  margin-top: 18px;
  width: 40px;
  height: 9px;
  display: inline-block;
  z-index: 2;
  position: relative;
}

ul.drawers li:hover .drawer {
  border-width: 0;
  box-shadow: 0 0 0px 1px #6c4116, 0 3px 3px -2px #000, 0 10px 10px -4px #444;
  transform: scale(1.05);
  top: 1px;
}

.drawer:after {
  border-radius: 6px;
  content: '';
  position: absolute;
  width: 100px;
  height: 45px;
  left: 0;
  top: 0;
  opacity: .4;
  z-index: 1;
}

.wrap, .drawer:after {
  background: url(/assets/retina_wood.png);
}

.contents {
  position: absolute;
  margin: -35px auto 0;
  width: 100px;
  z-index: -5;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -webkit-animation-fill-mode: forwards;
  // animation-name: fadeOutDown;
}

ul.drawers li:hover .contents {
  animation-name: fadeInUp;
  z-index: -999;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(33px);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(33px);
  }
  
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(33px);
  }
  
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(33px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  
  100% {
    opacity: 0;
    -webkit-transform: translateY(33px);
  }
}

@-moz-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  
  100% {
    opacity: 0;
    -moz-transform: translateY(33px);
  }
}

@-o-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -o-transform: translateY(0);
  }
  
  100% {
    opacity: 0;
    -o-transform: translateY(33px);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  
  100% {
    opacity: 0;
    transform: translateY(33px);
  }
}

html {
  background: #454545;
}